<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="System.Dolphin.Properties.Settings.iDolphinConnectionString"
            connectionString="Data Source=IMACBOOKPRO;Initial Catalog=iDolphin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>