<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="System.ISP.Properties.Settings.iISPConnectionString"
            connectionString="Data Source=.;Initial Catalog=iISP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>