<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="System.CRM.Properties.Settings.iCRMConnectionString"
            connectionString="Data Source=.;Initial Catalog=iCRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="System.CRM.Properties.Settings.iCRMConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=iCRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>