<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="System.DataGuard.Properties.Settings.iProjectConnectionString"
            connectionString="Data Source=.;Initial Catalog=iProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>